.index__h1 {
  color:#00cc99;
  font-size: 20px;
  font-weight: 400;
}

// base


.banner{
background-image: url('https://github.com/hexschool/webLayoutTraining1st/blob/master/yoga-week8/photo-1612157777902-5382bc6e864b.jpeg?raw=true');
background-position: bottom center;
background-size: cover;
object-fit: cover;
}

.banner_index{
  height: 582px;
}

// intro

.intro-pic {
  height: 420px;
}

// teacher

.teacher-banner{
  height: 628px;
  object-fit: cover;
}
.teacher-pic{
  width: 94px;
  height: 94px;
}

//舒適空間 靜心放鬆

.space-banner{
  height: 444px;
}
.space-pic {
  height: 207px;
}

//方案選擇

.option-pic{
 height: 350px;
}
