.index__h1 {
  color:#00cc99;
  font-size: 20px;
  font-weight: 400;
}

// base

a{
  text-decoration: none;
}

.card{
  border-radius: 16px;
}

.banner{
background-image: url('https://github.com/hexschool/webLayoutTraining1st/blob/master/yoga-week8/photo-1612157777902-5382bc6e864b.jpeg?raw=true');
background-position: bottom center;
background-size: cover;
object-fit: cover;
}

.banner_index{
  height: 582px;
}

// intro

.intro-pic {
  height: 420px;
  width: 350px;
  border-radius: 16px;
}

// teacher

.teacher-banner{
  height: 628px;
  object-fit: cover;
}
.teacher-pic{
  width: 94px;
  height: 94px;
}

//space

.space-banner{
  width: 350px;
  height: 444px;
}
.space-pic {
  width: 160px;
  height: 207px;
}

// 方案選鑿


// footer

.footer form{
  width: 350px;
}

.footer form input{
  width: 80%;
  outline: none;
}
.footer form button{
  width: 20%;
}
