.card{
    border-radius: 16px;
  }
  
  .card-body{
    padding: 24px;
  }
  
  .card-image{
    width: 96px;
    height: 96px;
    object-fit: cover;
  }
  
  .card-img{
   border-radius: 16px;
  }
  
  .card-img-top{
    border-radius: 16px 16px 0 0;
  }
  